*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    outline: transparent;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 2rem;
    
}
body{
    background-color: #f7f9fb ;
}

:root{
    --light-blue:#08a3d9;
    --white:#ffff;
    --black: #000000;
}

.light-blue{
    color: var(--light-blue);
}
.white{
    color: var(--white);
}
.black{
    color: var(--black);
}

.bg-light-blue{
    background-color: var(--light-blue);
}
.bg-white{
    background-color: var(--white);
}
.bg-black{
    background-color: var(--black);
}

.nav-bar{
    background-color: var(--light-blue);
    height: 65px;
}
.nav-link{
    color: var(--white);
}
.nav-bar-logo{
    color: var(--white);
}
.navbar-link:hover{
    color: var(--black);

}

.foter{
    /* position: fixed;     */
    bottom: 0;
    width: 100%;
    background-color: var(--light-blue) ;
    padding: 25px;
    color: var(--white);
    margin-top: 20px;
    height: 200px;
}
.foter-mail{
    text-decoration: none;
    color: var(--white);
    font-size: 15px;
}
.foter-call{
    text-decoration: none;
    color: var(--white);
    font-size: 15px;
}
.quick-link{
    text-decoration: none;
    color: var(--white);
    font-size: 15px;
}
.social-link{
text-decoration: none;
color: var(--white);
font-size: 40px;
}
.foter-mail:hover{
    color: var(--black);

}
.foter-call:hover{
    color: var(--black);
}
.quick-link:hover{
    color: var(--black);
}
.social-link:hover{
    color: var(--black);
}
.price{
    text-align: end;
}
.free-shiping-text{
    color: grey;
    font-size: 12px;
}
.color-text{
    font-size: 12px;
}
.size-text{
    font-size: 12px;
}

.quantity-input{
    width: 30px;
    font-size: 12px;
}
.subtotal-text{
    text-align: end;
}
.delete-links{
    text-decoration: none;
    color:var(--black);
    font-size: 12px;
}
.delete-links:hover{
    text-decoration: underline;
    color: var(--black);
}
.subtotal2-text{
    text-align: center;
}
.right-card{
    border-radius: 10px;
    box-shadow: 1px 0px 12px 0px rgb(198, 208, 219);
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    height: 385px;
}
.left-card{
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 1px 0px 12px 0px rgb(198, 208, 219);

}
.rightcard-div{
    margin-top: 20px;
}
.green{
    color: #067D62;
    font-size: 12px;
}
.right-card p{
    font-size: 12px;
}
.details-span {
    font-size: 12px;
}
.btn{
    border-radius: 20px;
    text-transform: uppercase;
    padding: 7px 20px;
    font-weight: 600;
    border: 2px solid var(--light-blue);
}
.btn:hover{
    background-color: var(--light-blue);
    color: var(--white);
    border: 2px solid var(--white);
    transition: 0.5s ease-in-out;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    height: 70px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .row-border{
    border-bottom: 1px solid #2417174a;
  }
  .price2{
      text-align: end;
  }